<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <!--boostrap4 -->
　　<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--ReactJS -->
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  <script type="text/babel">


      //メインのコンポーネント（テンプレート）
      class Txt extends React.Component {
        //コンストラクタ
        constructor(props) {
          super(props);
          this.state = {
            name : props.name,
            value : props.value,
            id : props.id,
            hdnvalue : props.hdnvalue,
            size : props.size,
            maxlength : props.maxlength,
          };
          //おまじない
          this.changeText = this.changeText.bind(this);
        }

        //テキスト編集の為に必要
        changeText(e) {
      　  this.setState({
            value: e.target.value,
          });
        }

        render() {
          return (
           <div>
             <input type="text" size={this.state.size}  maxlength={this.state.maxlength} id={this.state.id}  name={this.state.name} value={this.state.value} onChange={this.changeText}  />
             <label id={'hdn' + this.state.id} class="errlabel" >{this.state.hdnvalue}</label>
          </div>
          );
        }
      }

       //メインのコンポーネント（テンプレート）
      class TxtArea extends React.Component {
        //コンストラクタ
        constructor(props) {
          super(props);
          this.state = {
            name : props.name,
            value : props.value,
            inpType : props.inpType,
            id : props.id,
            hdnvalue : props.hdnvalue
          };
          //おまじない
          this.changeText = this.changeText.bind(this);
        }

        //テキスト編集の為に必要
        changeText(e) {
      　  this.setState({
            value: e.target.value,
          });
        }

        render() {
          return (
           <div>
             <textarea id={this.state.id}  name={this.state.name} value={this.state.value} onChange={this.changeText} cols="50" rows="10"></textarea>
             <label id={'hdn' + this.state.id} class="errlabel">{this.state.hdnvalue}</label>
          </div>
          );
        }
      }

   
      class Pwd extends React.Component {
        //コンストラクタ
        constructor(props) {
          super(props);
          this.state = {
            name : props.name,
            value : props.value,
            id : props.id,
            hdnvalue : props.hdnvalue,
            size : props.size,
            maxlength : props.maxlength,
          };
          //おまじない
          this.changeText = this.changeText.bind(this);
        }

        //テキスト編集の為に必要
        changeText(e) {
      　  this.setState({
            value: e.target.value,
          });
        }

        render() {
          return (
           <div>
             <input type="password" size={this.state.size}  maxlength={this.state.maxlength} id={this.state.id}  name={this.state.name} value={this.state.value} onChange={this.changeText}  />
             <label id={'hdn' + this.state.id} class="errlabel" >{this.state.hdnvalue}</label>
          </div>
          );
        }
      }

      </script>


    <% if Rails::VERSION::STRING[0].to_f < 6 %>
      <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <% else %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>

  </head>

  <body>
    <%= yield %>



　　<!--boostrap4 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
　　<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
　　<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  


  
  </body>
</html>
